<!DOCTYPE html>
<html>
<head>
    <title>WebDictionary</title>
</head>
<body>
{{ now }}
<h1>Dictionary</h1>
<form id="frm_id" method="GET" action="/search">
    <input  type="text" name="word" placeholder="search" value="{{ word }}" id="word_value">
    <input type="submit" name="value"><br>
    <div id="div_out">
    {{ result }}
    </div>
</form>
<script type="text/javascript">
    var frmMain = document.getElementById("frm_id");
    var divOut = document.getElementById("div_out");
    var textBox = document.getElementById("word_value");
    frmMain.onsubmit = function(e){
        loadWord();
        return false;
    }
    function loadWord() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
                divOut.innerHTML =
                this.responseText;
        }
    };
    
    var url = "/api/search?word="+textBox.value;
    xhttp.open("GET", url, true);
    xhttp.send();
}
</script>
</body>
</html>